<h1>Places</h1>

<p>
  <a href="/places/new"<button type="button" class="btn btn-primary"</button>New place</a>
</p>

<ul>
  <% for place in @places %>

    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

